!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", :http_equiv => 'Content-Type'}

  %body
    %p Hello, #{@donation.donor_name},

    %p Your donation in the amount of #{number_to_currency(@donation.amount_authorized)} to #{@school.name}'s campaign, #{@campaign.title}, was declined.

    %p You can try to donate again by visiting the campaign link below.

    %p Please retain this email receipt for your records.

    %ul
      %li School: #{@school.name} (#{link_to school_url(@school), school_url(@school)})
      %li Campaign: #{@campaign.title} (#{link_to campaign_url(@school), campaign_url(@school)})

    %pre
      = preserve do
        = @donation.receipt
